* {
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: whitesmoke;
}
main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
